<!-- Main -->
<article id="main">

    <header class="special container">
        <span class="icon fa-envelope"></span>
        <h2>
            <!--[-->Skontaktuj się z nami
            <!--]-->
        </h2>
        <p>
            Używając formularza poniżej możesz skontaktować się z naszym kołem.
        </p>
    </header>

    <!-- One -->
    <section class="wrapper style4 special container 75%">

        <!-- Content -->
        <div class="content">
            <form>
                <div class="row 50%">
                    <div class="6u 12u(mobile)">
                        <input type="text" name="name" placeholder="Imię i nazwisko" />
                    </div>
                    <div class="6u 12u(mobile)">
                        <input type="text" name="email" placeholder="Email" />
                    </div>
                </div>
                <div class="row 50%">
                    <div class="12u">
                        <input type="text" name="subject" placeholder="Temat" />
                    </div>
                </div>
                <div class="row 50%">
                    <div class="12u">
                        <textarea name="message" placeholder="Wiadomość..." rows="7"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="12u">
                        <ul class="buttons">
                            <li><input type="submit" class="special" value="Wyślij" /></li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>

    </section>

</article>