<!--Banner-->
<app-banner></app-banner>

<article id="main">

    <header class="special container">
        <span class="icon fa-bar-chart-o"></span>
        <h2>
            <!--[-->Władze koła łowieckiego
        </h2>
    </header>

    <section class="wrapper style1 container special">
        <div class="row">
            <div class="3u 12u(narrower)">

                <section>
                    <span class="icon featured icon_text_icon fa fa-user"></span>
                    <header>
                        <h3>
                            <!--[-->Prezes
                            <!--]-->
                        </h3>
                    </header>
                    <p>Stefan Kusz</p>
                </section>

            </div>
            <div class="3u 12u(narrower)">

                <section>
                    <span class="icon featured icon_text_icon fa fa-user"></span>
                    <header>
                        <h3>
                            <!--[-->Łowczy
                            <!--]-->
                        </h3>
                    </header>
                    <p>Wiesław Kucharski</p>
                </section>

            </div>
            <div class="3u 12u(narrower)">

                <section>
                    <span class="icon featured icon_text_icon fa fa-user"></span>
                    <header>
                        <h3>
                            <!--[-->Sekretarz
                            <!--]-->
                        </h3>
                    </header>
                    <p> Janusz Skibiński</p>
                </section>

            </div>
            <div class="3u 12u(narrower)">

                <section>
                    <span class="icon featured icon_text_icon fa fa-user"></span>
                    <header>
                        <h3>
                            <!--[-->Skarbnik
                            <!--]-->
                        </h3>
                    </header>
                    <p>Marcin Kotucha</p>
                </section>

            </div>
        </div>
    </section>

    <!-- One -->
    <section class="wrapper style3 container special">

        <div class="row">
            <div class="12u 12u(narrower)">

                <header>
                    <h2>
                        Nasze obwody
                    </h2>
                </header>
            </div>
            <div class="row weather">
                <div class="6u 12u(narrower)">
                    <iframe frameborder="0" marginwidth="0" marginheight="0" width="260" height="220" scrolling="NO" src="http://instytutmeteo.pl/userwidget/sitewidgets?id=9&city_id=3082206"></iframe>
                </div>
                <div class="6u 12u(narrower)">
                    <iframe frameborder="0" marginwidth="0" marginheight="0" width="260" height="220" scrolling="NO" src="http://instytutmeteo.pl/userwidget/sitewidgets?id=9&city_id=3082931"></iframe>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="12u 12u(narrower)">
                <app-google></app-google>
            </div>
        </div>
    </section>

    <!-- Two -->
    <section class="wrapper style1 container special">
        <div class="row">
            <div class="4u 12u(narrower)">

                <section>
                    <span class="icon featured fa-check"></span>
                    <header>
                        <h3>
                            <!--[-->This is Something
                            <!--]-->
                        </h3>
                    </header>
                    <p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.</p>
                </section>

            </div>
            <div class="4u 12u(narrower)">

                <section>
                    <span class="icon featured fa-check"></span>
                    <header>
                        <h3>
                            <!--[-->Also Something
                            <!--]-->
                        </h3>
                    </header>
                    <p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.</p>
                </section>

            </div>
            <div class="4u 12u(narrower)">

                <section>
                    <span class="icon featured fa-check"></span>
                    <header>
                        <h3>
                            <!--[-->Probably Something
                            <!--]-->
                        </h3>
                    </header>
                    <p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.</p>
                </section>

            </div>
        </div>
    </section>

    <!-- Three -->
    <section class="wrapper style3 container special">

        <header class="major">
            <h2>
                <!--[-->Next look at this
                <!--]--><strong><!--[-->cool stuff<!--]--></strong></h2>
        </header>

        <div class="row">
            <div class="6u 12u(narrower)">

                <section>
                    <a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
                    <header>
                        <h3>
                            <!--[-->A Really Fast Train
                            <!--]-->
                        </h3>
                    </header>
                    <p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
                </section>

            </div>
            <div class="6u 12u(narrower)">

                <section>
                    <a href="#" class="image featured"><img src="images/pic02.jpg" alt="" /></a>
                    <header>
                        <h3>
                            <!--[-->An Airport Terminal
                            <!--]-->
                        </h3>
                    </header>
                    <p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
                </section>

            </div>
        </div>
        <div class="row">
            <div class="6u 12u(narrower)">

                <section>
                    <a href="#" class="image featured"><img src="images/pic03.jpg" alt="" /></a>
                    <header>
                        <h3>
                            <!--[-->Hyperspace Travel
                            <!--]-->
                        </h3>
                    </header>
                    <p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
                </section>

            </div>
            <div class="6u 12u(narrower)">

                <section>
                    <a href="#" class="image featured"><img src="images/pic04.jpg" alt="" /></a>
                    <header>
                        <h3>
                            <!--[-->And Another Train
                            <!--]-->
                        </h3>
                    </header>
                    <p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
                </section>

            </div>
        </div>

        <footer class="major">
            <ul class="buttons">
                <li><a href="#" class="button">See More</a></li>
            </ul>
        </footer>

    </section>

</article>