.footer_top {
    padding: 30px 0 20px !important;
}
.post-password-form {text-align: center;margin-top: 50px;}
.post-password-form p {padding: 10px;}
.members-table {width: 100%;border-collapse: collapse;}
        .members-table, .members-table th, .members-table td {border: 1px solid #000000;}
        .members-table th, .members-table td {padding: 5px;}