<!-- Historia -->
<article id="main">

    <header class="special container">
        <h2>
            Historia Koła <strong>Knieja Nr 3</strong>
        </h2>
    </header>

    <!-- One -->
    <section class="wrapper style4 container">

        <!-- Content -->
        <div class="content">
            <section>
                <p>Trudno na kilku stronach zmieścić 60 lat historii, czynnymi uczestnikami której było ponad 100 myśliwych. Ci najstarsi odeszli już od nas, a wraz z nimi część wspomnień z dawnych polowań. Są jednak wciąż wśród nas Koledzy pamiętający pierwsze
                    lata istnienia Koła, jest spora grupka myśliwych związanych z Kołem od ponad 40 lat. Tak naprawdę to Ich pytać należy o historię, bo tworzą ją nie suche fakty, a wspaniałe wspomnienia i anegdoty, latami gromadzone w pamięci i przekazywane
                    młodszym Kolegom.</p>
                <p>Teraźniejszość Koła może łatwiejsza jest do opisania, też jednak trudno oddać atmosferę polowań i spotkań przy ognisku. Dlatego też na kolejnych stronach ograniczyłem się do podania jedynie garstki danych dotyczących Koła. Jednocześnie
                    jednak przekonany jestem, że wiedza ta warta jest uzupełnienia, a najłatwiejsza doń drogą będzie rozmowa przy ognisku, umilona specjałami kuchni myśliwskiej i kieliszkiem zacnego trunku. A wspaniałą okazją do takiej biesiady jest obchodzenie
                    właśnie sześćdziesiąta rocznica istnienia Koła.</p>
                <div>
                    <p>Darz Bór<br/>Jacek Hulimka </p>
                </div>
                <header>
                    <h3>Rys historyczny</h3>
                </header>
                <p> W 1947r. wśród pracowników Centralnego Zarządu Przemysłu Chemicznego w Gliwicach powstała inicjatywa zorganizowania Koła Łowieckiego przy Klubie Chemików. Pomysłodawcą był kol. Henryk Tryblewski, któremu udało się zorganizować wśród pracowników
                    CZPCh grupę zapalonych sympatyków Łowiectwa. W dniu 15 lipca 1947r. do Urzędu Wojewódzkiego w Katowicach przekazano projekt statutu Koła Łowieckiego - został on zatwierdzony, w wyniku czego po upływie miesiąca Koło Łowieckie Chemików
                    stało się pełnosprawnym stowarzyszeniem Łowieckim. Już we wrześniu 1947r. odbyło się pierwsze Walne Zgromadzenie członków Koła, z udziałem 14 kolegów, kiedy to wybrano Zarząd Koła w składzie:</p>
                <ul>
                    <li>Prezes: kol. Henryk Tryblewki</li>
                    <li>Łowczy: kol. Stefan Dobraczyński</li>
                    <li>Sekretarz: kol. Bohdan Katamay</li>
                    <li>Skarbnik: kol. Andrzej W. Darowski</li>
                </ul>

                <p>Zadanie przygotowania członków Koła do złożenia egzaminu PZŁ powierzono kol. Józefowi Delińskiemu.W grudniu 1947r. Zarząd Koła wystąpił w sprawie przydziału obwodu do Łowczego Powiatowego w Gliwicach, a także do Państwowych Nieruchomości
                    Ziemskich w Opolu, Zakładów Chemicznych w Oświęcimiu i innych, stosownych instytucji. </p>

                <p>Do Polskiego Związku Łowieckiego Koło Chemików przystąpiło w listopadzie 1948r., a już w grudniu jego członkowie rozpoczęli polowania na terenie majtku rolnego Paczyna, pozostającego w administracji Centralnego Zarządu Chemicznego w Gliwicach.
                    Poza wymienionymi wcześniej członkami Zarządu, do Koła należeli, po uzyskaniu w grudniu 1948r. kart łowieckich, następujący koledzy: Jerzy Chrzanowski, Tadeusz Kwiatkowski, Tadeusz Pawliszek, Henryk Stefański oraz - od 1950r, - Franciszek
                    Z. Rawluk. Niemal w tym samym czasie ma początek historia Górniczego Koła Łowieckiego Bekas przy Gliwickim Zjednoczeniu Węglowym. Zostało ono zawiązane w 1948r. przez sześciu myśliwych posiadających już wcześniej karty łowieckie, a
                    inicjatorem jego powstania był kol. Edward Kantor. Koło powstało na terenie majtków rolnych administrowanych przez Gliwickie Zjednoczenie Węglowe, a to : Świbie, Wiśnicze, Zawada i Chudów. Od 1949r. rozpoczął działalność Zarząd Koła
                    w składzie: </p>

                <ul>
                    <li>Prezes: kol. Roman Dykacz</li>
                    <li>Łowczy: kol. Edward Kantor</li>
                    <li>Sekretarz: kol. Edward Kawecki (od 1950r.)</li>
                    <li>Skarbnik: kol. Józef Stachowicz</li>
                    <li>Gospodarz: kol. Edward Kominek</li>
                </ul>
                <p>Poza wyżej wymienionymi, w skład Koła weszli koledzy: Zdzisław Jarkowski, Józef Kordasiewicz i Piotr Nowakowski.</p>
                <p>Sytuacja obydwu opisanych wyżej Kół była znacząco rożna, bowiem Koło Chemików polowało w stosunkowo ubogim łowisku, natomiast Koło Bekas, przy niewielkiej liczbie polujących kolegów, użytkowało duży i zasobny w zwierzynę teren. W tej sytuacji
                    doszło do połączenia obydwu Kół.</p>
                <p>Wspólna historia rozpoczęła się w 1951r., kiedy to, w wyniku wspomnianej wyżej fuzji, Powstało Koło Łowieckie Nr3 Chemików, przemianowanie później na Koło Łowieckie Nr 3 Knieja w Gliwicach. W skład wspólnego już Zarządu weszli: </p>

                <ul>
                    <li>Prezes: kol. Roman Dykacz</li>
                    <li>V-ce Prezes kol. Tadeusz Poniński</li>
                    <li>Łowczy: kol. Edward Kantor</li>
                    <li>Sekretarz: kol. Edward Kawecki</li>
                    <li>Skarbnik: kol. Tadeusz Kwiatkowski</li>
                </ul>

                <p>W tym samym czasie do Koła wstąpili koledzy: Karol Eirich, Władysław Gajewski i Franciszek Moll.</p>
                <p>W kolejnych latach w szeregi Koła wstępowali kolejni koledzy, wśród których coraz większą grupę stanowili tzw. członkowie terenowi, w tym leśnicy Nadleśnictwa Brynek, rolnicy oraz pracownicy lokalnych firm i urzędów. Od wielu lat liczba
                    polujących w Kole kolegów oscyluje w granicach 40-50, w większości mieszkający na terenie dzierżawionych obwodów lub w ich bezpośrednim sąsiedztwie. </p>
            </section>
            <section class="wrapper style2 container special-alt">
                <header>
                    <h2>Teren polowań</h2>
                </header>

                <p>Od momentu przeprowadzonej w 1957r. na terenie całego kraju reorganizacji terenów Łowieckich i utworzenia obwodów Łowieckich, Koło dzierżawi dwa obwody, w całości usytuowane w województwie Śląskim, a to (zgodnie z obowiązującą obecnie
                    numeracją): </p>

                <ul>
                    <li>obwód nr 113 (Nadleśnictwo Brynek)</li>
                    <li>obwód nr 114 (Nadleśnictwo Zawadzkie)</li>
                </ul>

                <p>Obwód 113 ma powierzchnię 3.905 hektarów, z czego 2200 hektarów to teren leśny, a 1.705 hektarów stanowią pola uprawne. W terenie leśnym przeważa bór mieszany, a grunty orne należą do słabych klas. Granica lasu jest bardzo długa i urozmaicona,
                    co skutkuje znacznymi szkodami wyrządzonymi przez zwierzynę w uprawach rolnych.</p>
                <p>Obwód 114 ma typowy polny charakter - przy powierzchni 3.485 hektarów, lasy zajmują niespełna 200 hektarów. W ubiegłych latach znaczenie powierzchniowe pól nie było rolniczo użytkowe, jednakże od momentu nieużytków zmalała niemal do zera.</p>
                <p>Obydwa obwody graniczą ze sobą na dość długim odcinku, co ułatwia prowadzenie wspólnej gospodarki Łowieckiej.</p>
                <p>Z racji usytuowania obydwu obwodów w bezpośredniej bliskości aglomeracji Śląskiej, stanowią one zaplecze rekreacyjne Śląskich miast - jest to szczególnie uciążliwe jesienią, kiedy obecność grzybiarzy niejednokrotnie utrudnia polowanie
                    w znacznej części terenów leśnych.</p>
            </section>
            <section>
                <header>
                    <h3>Gospodarka Łowiecka, polowania</h3>
                </header>
                <p>W kole od lat prowadzona jest intensywna gospodarka Łowiecka, której nadrzędnym celem jest hodowla zwierzyny i poprawa warunków jej bytowania. Średnio rocznie wykładanych jest około 70 ton różnego rodzaju karm. Służą temu liczne paśniki,
                    podsypy i lizawki, rozmieszczone w pobliżu dziennych ostoi zwierzyny. Uprawianych jest około 6 hektarów poletek Żerowych, poprawiających bazę pokarmową i przeciwdziałających powstawaniu szkód łowieckich.</p>
                <p>W ostatnich latach do Łowiska wpuszczono 5 danieli i około 150 bażantów - w obydwu przypadkach wyraźnie widoczne są pozytywne skutki tych zabiegów.</p>
                <p>Gospodarka Łowiecka to także polowania, głównie na zwierzynę grubą, w większości realizowane jako indywidualne. Pomocą służą tutaj liczne ambony i drabiny, pozwalające na obserwację i pozyskiwanie zwierzyny wprowadzania niepokoju w Łowisku.
                    Niezależnie od polowań indywidualnych, w każdym sezonie organizowanych jest około 10 polowań zbiorowych, w tym specjalne polowania na szkodniki. Obowiązkowymi punktami kalendarza są: polowanie hubertowskie, polowanie wigilijne i zakończenie
                    sezonu.
                </p>
                <p>Pozyskiwanie zwierzyny w ostatnich kilku latach kształtowało się na następującym poziomie: </p>

                <ul>
                    <li><strong>Jeleń:</strong> 25-35 sztuk</li>
                    <li><strong>Dzik:</strong> około 75 sztuk</li>
                    <li><strong>Sarna:</strong> około 60 sztuk</li>
                    <li><strong>Lis:</strong> około 50 sztuk</li>
                    <li>Jednostkowo: jenot, borsuk, kuna, kaczka krzyżówka, bażant, dzika gęś.</li>
                </ul>
            </section>
            <section class="wrapper style2 container special-alt">
                <header>
                    <h2>Dorobek Koła</h2>
                </header>
                <p>W 2002r. z inicjatywy jednego z długoletnich myśliwych terenowych, kol. Rufin Kałużny i przy jego znaczącym udziale, w lesie nieopodal miejscowości Wykierz powstała kaplica myśliwska. Jej ozdobą jest ufundowana przez kol. Stefana Kusza
                    płaskorzeźba przedstawiająca Świętego Huberta. Uroczystość poświęconą kaplicy odbyła się w dniu 7 września 2002r., podczas obchodów 55-lecia istnienia Koła. Odprawiono Mszę Świętą Hubertowską koncelebrowaną przez księży z pobliskich
                    parafii. Mszę uświetniły sygnały myśliwskie w wykonaniu zespołu sygnalistów z Technikum Leśnego w Brynku. </p>
                <p>Miejsce, w którym wzniesiono kaplice, nie jest przypadkowe - od niemal 40 lat kończy się w nim każde polowanie wigilijne, kiedy to myśliwi wraz z rodzinami, naganiaczami i zaproszonymi gośćmi przy wtórze kolęd dzielą się opłatkiem. Bardzo
                    szybko kaplica stała się miejscem kultu, gdzie odprawiane są msze nie tylko myśliwskie, a okoliczna ludność dba o porządek i odpowiedni wystrój. Obecnie przed kaplicą, na głazie narzutowym, wmurowana jest tablica pamiątkowa poświęcona
                    jej fundatorowi, a w kaplicy umieszczone są tablice upamiętniające 44 zmarłych członków Koła.</p>
                <p>W 1997r., dużym nakładem społecznej pracy członków koła, na pięknej leśnej polanie w pobliżu miejscowości Wykierz, powstała stanica myśliwska. Jej głównym elementem jest drewniana wiata ze stołami i ławami, a także ogrodzenie z bramą,
                    miejsce na ognisko, stojak na broń i stojak na sztandar Koła. od samego początku stanica służy myśliwym Koła jako miejsce zebrań i uroczystości Łowieckich. Za zgodą Zarządu Koła i pod opieką myśliwych bywa także nieodpłatnie udostępniona
                    jako miejsce organizacji imprez niezwiązanych z działalnością Łowiecką.</p>
                <p> Z okazji 50-lecia koła, w roku 1997, Ówczesny stażysta Koła, a obecnie jego członek, kolega Mirosław Gluch, ufundował sztandar Koła. W 2002r., podczas obchodów 55-lecia istnienia, Koło zostało odznaczone Złotym Medalem Zasługi Łowieckiej,
                    a wcześniej w roku 1997, Złotą Odznaką Zasłużonego dla Łowiectwa Województwa Katowickiego. W bieżącym roku Koło zostało uhonorowane najwyższym odznaczeniem Łowieckim - Złomem. </p>
            </section>
        </div>

    </section>

    <!-- Two -->
    <section class="wrapper style1 container special">
        <div class="row">
            <div class="4u 12u(narrower)">

                <section>
                    <header>
                        <h3>Członkowie Koła</h3>
                    </header>
                    <div class="align-left">
                        <ul>
                            <li>35 posiada uprawnienia selekcjonerskie</li>
                            <li>10 posiada uprawnienia kierownika polowania</li>
                            <li>4 posiada uprawnienia strażnika Łowieckiego</li>
                            <li>2 posiada uprawnienia sędziego i instruktora strzelectwa myśliwskiego</li>
                        </ul>
                    </div>
                </section>

            </div>
            <div class="4u 12u(narrower)">

                <section>
                    <header>
                        <h3>Zarząd Koła
                        </h3>
                    </header>
                    <div class="align-left">
                        <ul>
                            <li>Prezes kol. Stefan Kusz</li>
                            <li>Łowczy: kol. Wiesław Kucharski</li>
                            <li>Sekretarz: kol. Janusz Skibiński</li>
                            <li>Skarbnik: kol. Marcin Kotucha</li>
                            <li>obwód nr 114 (Nadleśnictwo Zawadzkie)</li>
                        </ul>
                    </div>
                </section>

            </div>
            <div class="4u 12u(narrower)">

                <section>
                    <header>
                        <h3>Komisja Rewizyjna
                        </h3>
                    </header>
                    <div class="align-left">
                        <ul>
                            <li>Przewodniczący: kol. Jacek Hulimka</li>
                            <li>Członkowie: kol. Wiesław Kucharski, Stefan Sznajder</li>
                        </ul>
                    </div>
                </section>

            </div>
        </div>
    </section>

</article>